
.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  font-weight: bold;
  text-align: left;
  margin-left: 20px; /* Adjust the margin as needed */
}

.venues-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; 
  overflow-x: auto;
  max-width: 100%;
  padding: 20px;
  margin-left: 40px; /* Add margin to the left */
  margin-right: 40px; /* Add margin to the right */
  background-color: #f9f9f9;
  box-shadow: 0 5px 10px rgba(115, 16, 16, 0.1); /* Adjust the third value (10px) for elevation */

}

.bands-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; 
  overflow-x: auto;
  max-width: 100%;
  padding: 20px;
  margin-left: 40px; /* Add margin to the left */
  margin-right: 40px; /* Add margin to the right */
  background-color: #f9f9f9;
  box-shadow: 0 5px 10px rgba(29, 34, 206, 0.1); /* Adjust the third value (10px) for elevation */

}

.venues-sample-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center; 
 
  max-width: 100%;
  padding: 20px;
  margin-left: 40px; /* Add margin to the left */
  margin-right: 40px; /* Add margin to the right */
  background-color: #f9f9f9;
  box-shadow: 0 5px 10px rgba(115, 16, 16, 0.1); /* Adjust the third value (10px) for elevation */

}
.bands-sample-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  max-width: 100%;
  padding: 10px; /* Reduce top and bottom padding */
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px; /* Adjust margin at the top */
  margin-bottom: 20px; /* Adjust margin at the bottom */
  background-color: #f9f9f9;
  box-shadow: 0 5px 10px rgba(29, 34, 206, 0.1);
}

.venue-card {
  flex: 0 0 auto;
  box-sizing: border-box;
  border: 2px solid #ddd;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}